
.main-title {
    font-family: var(--title-font);
    line-height: 115%;
    color: var(--dark);
    font-weight: 400;

    margin: 0;

    font-size: 1.875rem;

    @include _768 {
        font-size: 2.5rem;
        &._large {
            font-size: 2.75rem;
        }
    }

    @include _992 {
        font-size: 3.125rem;
        &._large {
            font-size: 3.9375rem;
        }
    }

    & mark, & strong {
        color: var(--blue);
        background: transparent;
    }
}

.text-content {
    & h2 {
        font-family: var(--title-font);
        line-height: 115%;
        color: var(--dark);
    
        margin: 0 0 5px 0;
    
        font-size: 1.5625rem;
    
        @include _768 {
            font-size: 2.5rem;
            margin: 0 0 20px 0;
        }
    
        @include _992 {
            font-size: 3.125rem;
        }
    
        & mark, & strong {
            color: var(--blue);
            background: transparent;
            font-weight: 400;
        }
    }

    & h3 {
        font-family: var(--title-font);
        line-height: 115%;
        color: var(--dark);
    
        margin: 0 0 5px 0;
    
        font-size: 1.5625rem;
    
        @include _768 {
            font-size: 2rem;
            margin: 0 0 20px 0;
        }
    
        @include _992 {
            font-size: 2.5rem;
        }
    
        & mark, & strong {
            color: var(--blue);
            background: transparent;
            font-weight: 400;
        }
    }

    & p {
        font-size: 0.8125rem;
        line-height: 160%;
        @include _992 {
            font-size: 1rem;
        }
    }

    &._light {
        & h2 {
            color: var(--white);
        }
    }

    & a {
        color: var(--blue);
    }

    & ul {
        display: flex;
        flex-direction: column;

        & li {
            &:not(:first-child) {
                margin-top: 11px;
            }
            padding-left: 26px;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                left: 0; top: 6px;
                width: 11px; height: 13px;
                background: url("data:image/svg+xml,%3Csvg viewBox='0 0 11 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.6988 4.85715L11 0L6.75904 6.14287L9.54217 10.1429H7.81928L5.6988 7.42858L0 13L4.63855 6.14287L2.38554 2.42859H4.10843L5.6988 4.85715Z' fill='%235FB5EE'/%3E%3C/svg%3E%0A")
                center / contain no-repeat;
            }
        }
    }

    &._alt ul li {
        padding-left: 0;
        margin-left: 25px;
        list-style: disc;
        &::before {
            display: none;
        }
    }

    &._alt h2 {
        margin: 0;
        text-align: center;
    
        @include _768 {
            margin: 0 0 10px 0;
        }
    }

    &._alt p {
        padding: 15px 0;
    }
}

.min-content {
    & h3 {
        font-family: var(--title-font);
        font-size: 1.125rem;
        @include _768 {
            font-size: 1.2rem;
        }
        
        @include _992 {
            font-size: 1.25rem;
        }
        line-height: 115%;
        color: var(--dark);
    }

    & p {
        padding-top: 10px;
        font-size: 0.875rem;
        line-height: 160%;
    }
}

.text {
    & b {
        color: var(--lightskyblue);
    }
}

/* .section-title {
    @include _768 {
    
    }
    
    @include _992 {
        font-size: 1.5625rem;
    }
} */

/* .title {
    
    font-family: var(--title-font);
    font-weight: 700;

    font-size: 1.125rem;

    @include _768 {
        font-size: 1.5rem;
    }

    @include _992 {
        font-size: 1.875rem;
    }
    
    &._min {

    }
} */

/* .section-title {

    font-family: var(--title-font);
    font-weight: 700;

}
 */
.txt-center {
    text-align: center;
}
