.input {
    border: 1px solid #494B53;
    border-radius: 66px;

    background: transparent;

    padding: 18px 20px;

    font-size: 0.8125rem;
    line-height: 123.076923%;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #708195;

    transition: color .2s ease-in-out;
    
    &::placeholder {
        color: #708195;
        opacity: 1;

        transition: opacity .2s ease-in-out;
    }

    &:focus {
        color: var(--white);
        &::placeholder {
            opacity: 0;
        }
    }

}

.textarea {
    border: 1px solid #494B53;
    border-radius: 20px;

    background: transparent;

    padding: 18px 20px;
    resize: none;

    font-size: 0.8125rem;
    line-height: 123.076923%;
    letter-spacing: 0.1em;

    color: #708195;

    transition: color .2s ease-in-out;
    
    &::placeholder {
        color: #708195;
        opacity: 1;
        text-transform: uppercase;

        transition: opacity .2s ease-in-out;
    }

    &:focus {
        color: var(--white);
        &::placeholder {
            opacity: 0;
        }
    }

}
