.intro {

    display: flex;
    flex-direction: column;

    @include _992 {
        display: block;
    }

    // .intro__bg

    &__bg {

        background: #F9FDFF;

        // .intro__bg--decor

        &--decor {
        }

        // .intro__bg--text

        &--text {
            margin-left: -20px;

            padding-top: 40px;
            @include _768 {
                margin-left: -20px;
                padding-top: 70px;
            }
            
            @include _992 {
                padding-top: 130px;
                margin-left: max(10px, calc(50% - 835px));
            }
        }

        // .intro__bg--dots

        &--dots {
            
        }

        // .intro__bg--dots-item

        &--dots-item {
            
            &:nth-child(1) {
                @include _992 {
                    margin-left: max(10px, calc(50% - 835px));
                    margin-top: 140px;
                    width: 95px; height: 262px;
                }
            }
        }
    }

    // .intro__learn-more

    &__learn-more {
        position: absolute;
        left: 40px; top: 50%;
        transform: translate(0,-50%); 

        display: none;
        @media (min-width: 1650px) {
            display: flex;
        }
    }

    // .intro__content

    &__content {
        width: 100%;
        padding: 64px 0 20px 0;
        @include _768 {
            padding: 64px 0 50px 0;
        }
        @include _992 {
            width: 50%;
            padding: 150px 0 110px 0;
        }
        
        @media (min-width: 1336px) {
            padding: 211px 0 187px 0;
        }
    }

    // .intro__title

    &__title {
    }

    // .intro__text

    &__text {
        padding-top: 15px;
        font-size: 0.8125rem;
        @include _768 {
            font-size: 1rem;
            padding-top: 30px;
        }
        @include _992 {
            font-size: 1.125rem;
        }
        line-height: 160%;
        max-width: 531px;
    }

    // .intro__image

    &__image {

        aspect-ratio: 1/.735;
        text-align: right;

        position: relative;
        margin: 0 -10px;
        @include _992 {
            position: absolute;
            right: 0; top: 0;
            margin: 0;
            aspect-ratio: auto;
            width: 50%; height: 100%;
        }

        // .intro__image--img

        &--img {
            position: absolute;
            right: 0; top: 0;
            @include _992 {
                position: static;
                height: 100%; width: auto;
            }
            object-fit: cover;
            width: 100%; height: 100%;
        }
    }
}
